<app-za-breadcrumb [TitleList]="TitleList"></app-za-breadcrumb>

<div class="table-card border radius-10 overflow-hidden shadow-sm">
    <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
        <div class="col-md-8 mb-2">
            <div class="d-flex align-items-center gap-2">
                <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" (click)="openItemModal(OpenItemModal,null)">
                    <i class="fas fa-plus-circle"></i>
                    <span>إضافة</span>
                </button>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" id="dropdownBasic1" ngbDropdownToggle>
                        <i class="uil uil-export"></i>
                        <span>تنزيل</span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="border rounded">
                        <button ngbDropdownItem class="d-flex align-items-center gap-2" (click)="OpenPdfFileItemModal(PDFFileItemModal)">
                            <i class="fas fa-file-download"></i>
                            <span class="px-2">PDF</span>
                        </button>
                        <button ngbDropdownItem (click)="DownloadExcelFile()">
                            <i class="fas fa-file-download"></i>
                            <span class="px-2">Excel</span>
                        </button>
                    </div>
                </div>
                <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter">
                    <i class="uil uil-filter"></i>
                    <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
                </button>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <app-za-pagination (pageChanged)="pageChanged($event)" [currentPage]="pagingFilterModel.currentPage" [pageSize]="pagingFilterModel.pageSize" [totalCount]="pagedResponseModel.totalCount"></app-za-pagination>
        </div>
        <div class="col-md-12 mt-3" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
            <div class="d-flex align-items-center">
                <ng-container>
                    <app-za-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)" [searchPlaceholder]="'البحث بالوصف ...'"></app-za-filters>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="p-3 bg-white">
        <div class="table-responsive shadow-sm radius-10">
            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
                <thead>
                    <tr>
                        <th></th>
                        <th>الكود</th>
                        <th>الاسم</th>
                        <th>الوصف</th>
                        <th>رقم التلفون</th>
                        <th>رقم التلفون 2</th>
                        <th>العنوان</th>
                        <th>الجنسية</th>
                        <th>صفحة الفيس بوك</th>
                        <th>رسالة ترحيبية</th>
                        <th>تمت الاضافة من قبل</th>
                        <th>تاريخ الاضافة</th>
                        <th>عمليات</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container>
                        <tr *ngFor="let item of pagedResponseModel.results">
                            <td>
                                <img src="{{item.image}}" class="table-image" (error)="$event.target.src = DefaultImage">
                            </td>
                            <td>{{item.code}}</td>
                            <td>{{item.fullName}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.phone}}</td>
                            <td>{{item.phone2}}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.nationality}}</td>
                            <td>
                                <a *ngIf="item.faceBook" style="text-decoration: none;" href="{{item.faceBook}}" target="_blank">فيسبوك</a>
                            </td>
                            <td>{{item.welcomeMessage}}</td>
                            <td>{{item.createdBy}}</td>
                            <td>{{item.insertDate}}</td>
                            <td>
                                <div class="w-100 d-flex align-items-center justify-content-center">
                                    <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2" (click)="openItemModal(OpenItemModal,item)">
                                        <i class="uil uil-pen"></i>
                                        <span>تعديل</span>
                                    </button>
                                    <button class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2" (click)="openDeleteItemModal(deleteItemModal,item)">
                                        <i class="uil uil-trash-alt"></i>
                                        <span>حذف</span>
                                    </button>
                                    <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2" (click)="openCashSidePanel(CashSidePanel,item)">
                                        <i class="uil uil-document-info"></i>
                                        <span>معاينة</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="!pagedResponseModel.results.length">
                            <td colspan="12" class="text-right">
                                <app-za-empty-data [showEmptyData]="!pagedResponseModel.results.length"></app-za-empty-data>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #OpenItemModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h2 class="d-flex align-items-center gap-2">
            <i class="uil uil-plus"></i>
            <span>املأ البيانات الأتية</span>
        </h2>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <form [formGroup]="ItemForm" autocomplete="off">
            <table class="table table-bordered table-feature-value align-middle border m-0">
                <tbody>
                    <tr>
                        <td class="table-feature">اسم المتبرع</td>
                        <td class="table-value">
                            <input type="text" class="form-control form-control-lg" formControlName="fullName" placeholder="اسم المتبرع...">
                            <div *ngIf="ItemForm.controls['fullName']?.invalid && (ItemForm.controls['fullName']?.dirty || ItemForm.controls['fullName']?.touched)" class="error-message">
                                <span *ngIf="ItemForm.controls['fullName'].errors?.['required']"> هذا الحقل مطلوب</span>
                                <span *ngIf="ItemForm.controls['fullName'].errors?.['noSpace']"> لا يمكن ان يحتوي الحقل على مسافات فقط</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">الوصف</td>
                        <td class="table-value">
                            <input type="text" class="form-control form-control-lg" formControlName="description" placeholder="الوصف...">
                            <div class="error-message">
                                <span *ngIf="ItemForm.controls['description'].errors?.['noSpace']"> لا يمكن ان يحتوي الحقل على مسافات فقط</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">رقم التلفون</td>
                        <td class="table-value">
                            <input type="text" class="form-control form-control-lg" formControlName="phone" placeholder="رقم التلفون...">
                            <div *ngIf="ItemForm.controls['phone']?.invalid && (ItemForm.controls['phone']?.dirty || ItemForm.controls['phone']?.touched)" class="error-message">
                                <span *ngIf="ItemForm.controls['phone'].errors?.['required']"> هذا الحقل مطلوب</span>
                                <span *ngIf="ItemForm.controls['phone'].errors?.['pattern']">أدخل أرقام فقط</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">رقم التلفون 2</td>
                        <td class="table-value">
                            <input type="text" class="form-control form-control-lg" formControlName="phone2" placeholder="رقم التلفون 2...">
                            <div class="error-message">
                                <span *ngIf="ItemForm.controls['phone2'].errors?.['pattern']"> أدخل أرقام فقط</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">العنوان</td>
                        <td class="table-value">
                            <input type="text" class="form-control form-control-lg" formControlName="address" placeholder="العنوان...">
                            <div class="error-message">
                                <span *ngIf="ItemForm.controls['address'].errors?.['noSpace']"> لا يمكن ان يحتوي الحقل على مسافات فقط</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">صفحة الفيس بوك</td>
                        <td class="table-value">
                            <input type="text" class="form-control form-control-lg" formControlName="faceBook" placeholder="صفحة الفيس بوك...">
                            <div class="error-message">
                                <span *ngIf="ItemForm.controls['faceBook'].errors?.['noSpace']"> لا يمكن ان يحتوي الحقل على مسافات فقط</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">الجنسية</td>
                        <td class="table-value">
                            <div class="form-floating">
                                <app-za-drop-down-form-control [showSearch]="true" [placeholder]="'الجنسية'" formControlName="nationalityId"></app-za-drop-down-form-control>
                            </div>
                            <div *ngIf="ItemForm.controls['nationalityId']?.invalid && (ItemForm.controls['nationalityId']?.dirty || ItemForm.controls['nationalityId']?.touched)" class="error-message">
                                <span *ngIf="ItemForm.controls['nationalityId'].errors?.['required']"> هذا الحقل مطلوب</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">الحالة</td>
                        <td class="table-value">
                            <div class="d-flex align-items-center">
                                <div class="me-2">مرئي</div>
                                <label class="jtoggler-wrapper m-0 mx-0">
                                <input type="checkbox" formControlName="isVisible" class="jtoggler">
                                <div class="jtoggler-control">
                                    <div class="jtoggler-handle"></div>
                                </div>
                            </label>
                                <div class="ms-2">غير مرئي</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">تحميل صورة</td>
                        <td class="table-value">
                            <div class="choose-file-box position-relative border rounded h-58" (click)="InputFile.click()">
                                <div class="choose-file-btn">تحميل صورة</div>
                            </div>
                            <div class="error-message" *ngIf="isFileExist">
                                <span>هذا الحقل مطلوب</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature"></td>
                        <td>
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-2">
                                <div class="w-25" *ngFor="let url of fileURL">
                                    <div class="choosed-img img-thumbnail shadow-sm">
                                        <img src="{{url.image}}" loading="lazy" alt="" />
                                        <div class="choosed-img-delete" (click)="DeleteSelectedFile()">
                                            <i class="far fa-times-circle"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer flex-nowrap gap-2">
        <button type="button" class="btn btn-success d-flex align-items-center justify-content-center gap-2 w-100" (click)="AddNewItem()">
            <i class="uil uil-save fs-3"></i>
            <span>حفظ</span>
        </button>
        <button type="button" class="btn btn-danger d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle fs-3"></i>
            <span>الغاء</span>
        </button>
    </div>
</ng-template>

<ng-template #CashSidePanel let-offcanvas>
    <div class="offcanvas-header justify-content-between gap-3 fs-4 border-bottom py-3">
        <div class="d-flex align-items-center gap-2">
            <i class="fas fa-info-circle offcanvas-header-icon"></i>
            <span>
                {{BeneFactorValues.fullName}} - {{BeneFactorValues.code}}
            </span>
        </div>
        <div class="cursor-pointer text-danger fs-2" (click)="offcanvas.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="offcanvas-body pt-4 bg-light">
        <div class="employee-card-body mb-3">
            <div class="inputs-wrapper border rounded bg-white mb-3">
                <div class="inputs-sec-content px-3 py-3">
                    <div class="row gy-3">
                        <div class="col-lg-6">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">مبلغ التبرع</label>
                                <input type="text" class="form-control nw-form-input" (keypress)="NumbersOnly($event.key)" (paste)="false" (copy)="false" (cut)="false" [(ngModel)]="BeneFactorValues.totalValue" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">تاريخ التبرع</label>
                                <input type="text" disabled class="form-control nw-form-input" [(ngModel)]="BeneFactorValues.paymentDate" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-start m-3">
                    <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2" (click)="AddNewBeneFactorValues()">
                        <i class="fas fa-plus-circle"></i>
                        <span>اضافة</span>
                    </button>
                </div>
            </div>
        </div>
        <hr class="border-black" />
        <div class="inputs-wrapper border rounded bg-white mb-3">
            <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom mb-2">الحسابات</div>
            <div class="inputs-sec-content px-3 py-2 table-responsive table-vp-height small-scroll">
                <table class="table table-bordered table-middle text-center table-actions m-0">
                    <thead>
                        <tr>
                            <th class="width-30-per">مبلغ التبرع</th>
                            <th class="width-30-per">تاريخ التبرع</th>
                            <th class="width-30-per text-center">تم صرف المبلغ بالكامل</th>
                        </tr>
                    </thead>
                    <ng-container *ngFor="let item of BeneFactorValuesData">
                        <tbody>
                            <tr>
                                <td class="td-collapser cursor-pointer" (click)="BeneFactorValueCollapseClick(item)" [attr.aria-expanded]="item.isCollapsed">
                                    <div class="d-flex align-items-center gap-2">
                                        <i class="uil uil-plus-circle"></i>
                                        <span>{{item.totalValue}}</span>
                                    </div>
                                </td>
                                <td>{{item.paymentDateStr}}</td>
                                <td class="text-center">
                                    <label class="jtoggler-wrapper">
                                        <input type="checkbox" [(ngModel)]="item.isActive" class="jtoggler jqtoggler-inited" disabled>
                                        <span class="jtoggler-control">
                                            <span class="jtoggler-handle"></span>
                                        </span>
                                    </label>
                                </td>
                            </tr>
                            <tr *ngIf="!BeneFactorValuesData.length">
                                <td colspan="12" class="text-right">
                                    <app-za-empty-data [showEmptyData]="!BeneFactorValuesData.length"></app-za-empty-data>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="item.isCollapsed && item.values && item.values.length > 0">
                            <tr class="collapsed-tr" *ngFor="let value of item.values">
                                <td>{{value.totalValue}}</td>
                                <td>{{value.paymentDate}}</td>
                                <td>{{value.details}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="item.isCollapsed && item.values && item.values.length == 0">
                            <tr class="collapsed-tr">
                                <td colspan="3" class="text-center">لم يتم صرف اي مبلغ</td>
                            </tr>
                        </tbody>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #PDFFileItemModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h2 class="d-flex align-items-center gap-2">
            <i class="uil uil-focus-add"></i>
            <span>اختر أعمدة</span>
        </h2>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-feature-value align-middle border m-0">
            <tbody>
                <tr *ngFor="let item of PDFHeaderModel;let x = index">
                    <td class="table-feature">{{item.nameAr}}</td>
                    <td class="table-value">
                        <div class="d-flex align-items-center">
                            <div class="me-2">محدد</div>
                            <label class="jtoggler-wrapper m-0 mx-0">
                                    <input type="checkbox" class="jtoggler" [(ngModel)]="item.isSelected">
                                    <div class="jtoggler-control">
                                        <div class="jtoggler-handle"></div>
                                    </div>
                                </label>
                            <div class="ms-2">غير محدد</div>
                            <div class="mr-25">
                                <input type="text" class="form-control" (keypress)="NumbersOnly($event.key)" (paste)="false" (copy)="false" (cut)="false" [(ngModel)]="item.displayOrder" placeholder="الترتيب">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="table-feature">عدد الاسطر في الصفحة الواحدة</td>
                    <td class="table-value">
                        <input type="text" class="form-control" (keypress)="NumbersOnly($event.key)" (paste)="false" (copy)="false" (cut)="false" [(ngModel)]="RowCount">
                    </td>
                </tr>
                <tr>
                    <td class="table-feature">تنبيه هام</td>
                    <td class="table-value">
                        <ul>
                            <li class="fs-5">لا يمكن اختيار أكثر من 6 أعمدة في الصفحة الواحدة</li>
                            <li class="fs-5">لا يمكن اختيار اكثر من 20 سطر في الصفحة الواحدة</li>
                            <li class="fs-5">إذا كان احد الأعمدة يحتوي على جمل طويلة برجاء تقليل عدد الأسطر والأعمدة</li>
                            <!-- <li class="fs-5">لا يمكن اختيار جمع قيم العامود الا لعامود واحد فقط</li> -->
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer flex-nowrap gap-2">
        <button type="button" class="btn btn-success d-flex align-items-center justify-content-center gap-2 w-100" (click)="DownloadPdfFile()">
            <i class="uil uil-save fs-3"></i>
            <span>حفظ</span>
        </button>
        <button type="button" class="btn btn-danger d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle fs-3"></i>
            <span>الغاء</span>
        </button>
    </div>
</ng-template>

<ng-template #deleteItemModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h2 class="d-flex align-items-center gap-2">
            <span>تأكيد الإجراء</span>
        </h2>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل أنت متأكد أنك تريد إزالة هذا العنصر؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="DeleteItem()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">لا</span>
        </button>
    </div>
</ng-template>

<input type="file" #InputFile class="choose-file-input" (change)="onFileChange($event)" hidden />