<div class="table-responsive shadow-sm radius-10">
    <form [formGroup]="ItemForm" autocomplete="off">
        <table class="table table-bordered table-feature-value align-middle border m-0">
            <thead>
                <tr>
                    <th colspan="2">بيانات ولي الأمر</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-feature">اسم ولي الأمر</td>
                    <td class="table-value">
                        <app-za-input-with-label [type]="'text'" [placeholder]="'اسم ولي الأمر...'" [error]="formErrors.parentName" formControlName="parentName"></app-za-input-with-label>
                    </td>
                </tr>
                <tr>
                    <td class="table-feature">رقم الهاتف</td>
                    <td class="table-value">
                        <app-za-input-with-label [type]="'text'" [placeholder]="'رقم الهاتف...'" [error]="formErrors.phone" formControlName="phone"></app-za-input-with-label>
                    </td>
                </tr>
                <tr>
                    <td class="table-feature">العنوان</td>
                    <td class="table-value">
                        <app-za-input-with-label [type]="'text'" [placeholder]="'العنوان...'" [error]="formErrors.address" formControlName="address"></app-za-input-with-label>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>