<nav class="navbar navbar-expand-lg bg-nw-header new-rounded-header py-0">
    <div class="container-fluid">
        <a class="navbar-brand logo-blue-clr fw-bold">شعار</a>
        <button class="navbar-toggler hamburger nw-hamburger hamburger--elastic rounded-1 main-bgcolor my-2" [class.is-active]="!collapsed" type="button" aria-controls="navbar-content" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.collapse]="collapsed">
            <div class="d-flex ms-auto justify-content-center justify-content-lg-start">
            </div>
            <ul class="navbar-nav mb-2 mb-lg-0 gap-4">
                <li class="nav-item">
                    <a class="nav-link justify-content-center justify-content-md-start">
                        <img src="alert.svg" class="nw-header-icon-link-img" alt="AlertImage" loading="lazy" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link justify-content-center justify-content-md-start" routerLink="/system-settings/home">
                        <img src="settings.svg" class="nw-header-icon-link-img" alt="SettingsImage" loading="lazy" />
                    </a>
                </li>
                <li ngbDropdown class="nav-item nw-dropdown" display="dynamic">
                    <a class="nav-link justify-content-center d-inline-flex align-items-center gap-2" ngbDropdownToggle>
                        <img src="user.svg" class="nw-header-icon-link-img" class="nw-user-img-header" alt="UserImage" loading="lazy" />
                        <span>سلام هاني البدوي</span>
                        <i class="fa-solid fa-chevron-down dropdown-arrow fs-13"></i>
                    </a>
                    <ul class="border shadow-lg" ngbDropdownMenu aria-labelledby="user-settings">
                        <li>
                            <a (click)="logout()" class="dropdown-item cursor-pointer d-flex align-items-center">
                                <i class="fas fa-power-off"></i>
                                <span class="ms-2">تسجيل الخروج</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item cursor-pointer d-flex align-items-center">
                                <i class="fa-solid fa-user-gear"></i>
                                <span class="ms-2">الحساب</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- <li ngbDropdown class="nav-item nw-dropdown" display="dynamic">
                    <a class="nav-link justify-content-center d-inline-flex align-items-center gap-2 bg-white my-2 py-2 px-3 h-auto radius-15" ngbDropdownToggle>
                        <div class="dropdown-header-icon">
                            <i class="fa-solid fa-building-columns"></i>
                        </div>
                        <span style="min-width: 100px;" class="dropdown-header-text text-nowrap">{{selectedModuleName}}</span>
                        <i class="fa-solid fa-chevron-down dropdown-arrow fs-13"></i>
                    </a>
                    <ul class="border shadow-lg min-width-300" ngbDropdownMenu aria-labelledby="user-settings">

                        <li *ngFor="let module of modulesMenu">
                            <a [routerLink]="module.route" routerLinkActive="active" class="dropdown-item cursor-pointer d-flex align-items-center gap-2 fs-11">
                                <i class="dropdown-header-icon sm-icon-size" [class]="module.icon"></i> {{module.displayName}}
                            </a>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
</nav>