<nav class="navbar navbar-expand-md navbar-light bg-body-tertiary py-0">
    <div class="container-fluid">
        <div class="d-flex align-items-center gap-2">
            <div class="img-logo-box">
                <img src="../../../assets/logo-2.png" class="logo-img" loading="lazy" alt="" />
            </div>
            <div class="fw-bold">{{BeneFactorModel?.name}} - {{BeneFactorModel?.code}}</div>
        </div>
        <button class="hamburger hamburger--elastic shadow-lg donor-humburger my-2 my-md-0" (click)="collapsed = !collapsed" [class.is-active]="!collapsed">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
        <div class="navbar-collapse py-3 py-md-0" [class.collapse]="collapsed" id="navbarContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 cursor-pointer py-0" (click)="LogOut()">
                        <i class="uil uil-sign-out-alt"></i>
                        <span>تسجيل الخروج</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid py-3">
    <div class="home-staticts mb-2">
        <div class="row g-3">
            <div class="col-lg-4">
                <div class="staticts-card visitors position-relative d-flex flex-column gap-2 align-items-center rounded shadow-sm h-100">
                    <div class="staticts-icon">
                        <i class="uil uil-users-alt"></i>
                    </div>
                    <div class="staticts-name">إجمالي عمليات التبرع</div>
                    <div class="staticts-number">{{BeneFactorStatistics?.allBeneFactor}}</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="staticts-card active-users position-relative d-flex flex-column gap-2 align-items-center rounded shadow-sm h-100">
                    <div class="staticts-icon">
                        <i class="uil uil-user-check"></i>
                    </div>
                    <div class="staticts-name">إجمالي عمليات التبرع النقدية</div>
                    <div class="staticts-number">{{BeneFactorStatistics?.allBeneFactorCash}}</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="staticts-card nonactive-users position-relative d-flex flex-column gap-2 align-items-center rounded shadow-sm h-100">
                    <div class="staticts-icon">
                        <i class="uil uil-user-exclamation"></i>
                    </div>
                    <div class="staticts-name">إجمالي عمليات التبرع العينية</div>
                    <div class="staticts-number">{{BeneFactorStatistics?.allBeneFactorThing}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-3">
        <div class="card">
            <div class="card-header d-flex align-items-center flex-wrap gap-3">
                <button class="btn main-button d-flex align-items-center gap-2" (click)="OpenNoteModal(NoteModal)">
          <i class="uil uil-plus-circle"></i>
          <span class="navbar-brand m-0">اضافة ملاحظة</span>
        </button>
                <div ngbDropdown class="dropdown-with-search overflow-hidden" container="body">
                    <button class="dropdown-with-search-btn btn border w-100 min-width-160 bg-white d-flex align-items-center justify-content-between selector-padding" id="dropdownBasic1" ngbDropdownToggle>
            {{BeneFactorTypeName}}
          </button>
                    <div class="width-380 py-0 overflow-hidden" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <ul class="dropdown-list-box list-unstyled max-height-220 overflow-auto px-1 py-1 m-0">
                            <ng-container>
                                <li class="dropdown-item cursor-pointer rounded" [ngClass]="{'DropDownSelected': BeneFactorTypeName == 'الكل'}" (click)="OnChangeBeneFactorType({id:0,name:'الكل'})">الكل</li>
                            </ng-container>
                            <ng-container *ngFor="let item of BeneFactorTypes">
                                <li class="dropdown-item cursor-pointer rounded" [ngClass]="{'DropDownSelected': BeneFactorTypeName == item.name}" (click)="OnChangeBeneFactorType(item)">{{item.name}}</li>
                            </ng-container>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="card-body card-body-h overflow-auto">
                <div class="table-responsive">
                    <table class="table table-bordered align-middle table-dark table-hover border shadow-lg bg-white m-0">
                        <thead>
                            <tr>
                                <th class="th-width"></th>
                                <th>نوع التبرع</th>
                                <th>تاريخ التبرع</th>
                                <th>قيمة التبرع</th>
                                <th>تفاصيل التبرع</th>
                                <th class="text-center">أجراءات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of BeneFactorDetailsData">
                                <td>
                                    <img src="{{item.image}}" class="table-image cursor-pointer" (error)="$event.target.src = DefaultImage" (click)="OpenImageModal(ImageModal,item.image)">
                                </td>
                                <td>{{item.name}}</td>
                                <td>{{item.paymentDate}}</td>
                                <td>{{!item.totalValue || item.totalValue == 0 ? '---' : item.totalValue}}</td>
                                <td>{{!item.details ? '---' : item.details}}</td>
                                <td>
                                    <div class="d-flex align-items-center justify-content-center fs-5 gap-2" *ngIf="item.beneFactorTypeId == 1">
                                        <button class="btn main-filter-button d-flex align-items-center gap-2" (click)="openCashSidePanel(CashSidePanel,item)">
                      <i class="uil uil-document-info text-success"></i>
                      <span class="navbar-brand m-0">تفاصيل</span>
                    </button>
                                    </div>
                                    <div *ngIf="item.beneFactorTypeId != 1" class="d-flex align-items-center justify-content-center">---
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #CashSidePanel let-offcanvas>
    <div class="offcanvas-header pb-0 d-flex align-items-center justify-content-between">
        <div>
            <h4 class="offcanvas-title m-0 d-flex align-items-center w-100"><i class="uil uil-document-info text-success"></i> {{Type}} - {{TotalValue}}
            </h4>
        </div>
        <button type="button" class="btn bg-danger text-white rounded" aria-label="Close" (click)="offcanvas.dismiss()">
      <i class="fas fa-times"></i>
    </button>
    </div>
    <div class="offcanvas-body pt-0">
        <div class="container pt-3">
            <div class="card">
                <div class="card-body card-body-h overflow-auto">
                    <div class="table-responsive">
                        <table class="table table-bordered align-middle table-dark table-hover border shadow-lg bg-white m-0">
                            <thead>
                                <tr>
                                    <th class="th-width"></th>
                                    <th>قيمة التبرع</th>
                                    <th>تفاصيل التبرع</th>
                                    <th>تاريخ التبرع</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of BeneFactorValues">
                                    <td>
                                        <img src="{{item.image}}" class="table-image cursor-pointer" (error)="$event.target.src = DefaultImage" (click)="OpenImageModal(ImageModal,item.image)">
                                    </td>
                                    <td>{{item.totalValue}}</td>
                                    <td>{{item.details}}</td>
                                    <td>{{item.paymentDate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #ImageModal let-modal>
    <div class="modal-body overflow-y-hidden">
        <img src="{{ImageSrc}}" (error)="$event.target.src = DefaultImage" class="w-100 h-100">
    </div>
</ng-template>


<ng-template #NoteModal let-modal>
    <div class="modal-header main-bgcolor text-white">
        <div class="display-7 d-flex align-items-center gap-3">
            <i class="uil uil-clipboard-notes"></i>
            <span>اضافة ملاحظة</span>
        </div>
    </div>
    <div class="modal-body">
        <div>
            <label for="exampleFormControlInput1" class="form-label">اكتب ملاحظاتك</label>
            <textarea rows="5" class="form-control" placeholder="اكتب ملاحظاتك" [(ngModel)]="Notes"></textarea>
        </div>
        <hr class="border-top my-4">
        <div>
            <label for="exampleFormControlInput1" class="form-label">اكتب اقتراحاتك</label>
            <textarea rows="5" class="form-control" placeholder="اكتب اقتراحاتك" [(ngModel)]="Suggestions"></textarea>
        </div>

    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="AddNewBeneFactorNotes()">
      <i class="fas fa-check"></i>
      <span class="ms-2">إضافة</span>
    </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
      <i class="fas fa-times"></i>
      <span class="ms-2">إغلاق</span>
    </button>
    </div>
</ng-template>

<!-- <ngx-loading [show]="showLoader"></ngx-loading> -->