<div *ngIf="showEmptyData">
    <div class="d-flex align-items0-center justify-content-center flex-column text-center w-100 height-100">
        <img src="table-action-start.svg" width="60px" alt="" class="table-action-img">
        <div class="mt-2 fs-16">لا يوجد بيانات</div>
    </div>
</div>

<div *ngIf="showLoader && !showEmptyData">
    <div class="prcs flex-box  hastable loading-mess-stl ">
        <div class="prcs-lbl-container">
            <span class="prcs-lbl" id="prcs_lbl">جاري تحميل البيانات ...</span>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <app-za-spinner></app-za-spinner>
        </div>

    </div>
</div>