<header id="admin-header" class="fixed-top" *ngIf="ProjectData">
    <nav class="navbar navbar-expand-md navbar-light py-0">
        <div class="container-fluid">
            <div class="logo-menu-area py-1">
                <header class="login-logo d-flex align-items-center gap-3 cursor-pointer">
                    <div class="img-logo-box">
                        <img src="logo-2.png" class="logo-img" loading="lazy" alt="" />
                    </div>
                    <div class="d-flex align-items-center gap-2 text-white fs-6" routerLink="/">
                        <span>زيارة الموقع</span>
                        <i class="uil uil-sign-in-alt fs-5"></i>
                    </div>
                </header>
            </div>
            <button class="navbar-toggler hamburger hamburger--elastic rounded-1 my-2" [class.is-active]="!collapsed" type="button" aria-controls="navbar-content" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <div class="navbar-collapse pt-3 pt-md-0 " [class.collapse]="collapsed" id="navbar-content">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2">
                            <i class="uil uil-user"></i>
                            <span class="navbar-brand m-0">مرحبا بك</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid section-wtih-fixed-header" *ngIf="ProjectData">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-11">
            <div class="bg-white border rounded-3 shadow-sm overflow-hidden">
                <!-- Header with gradient -->
                <div class="border-bottom p-4 bg-light">
                    <h3 class="mb-0 fw-bold text-dark">{{ProjectData?.title}}</h3>
                </div>

                <div class="p-4">
                    <!-- Image Slider -->
                    <div class="benfactory-slider border rounded-3 overflow-hidden shadow mb-4">
                        <swiper-container navigation="true" loop="true" autoplay='{"delay": 4000}' dir="rtl" [attr.breakpoints]="breakpointsJson" style="width: 100%; height: auto; --swiper-navigation-color: #fff; --swiper-navigation-size: 35px;">
                            <swiper-slide *ngFor="let url of ProjectData?.images">
                                <div class="benfactory-box">
                                    <div class="benfactory-img">
                                        <img [src]="url" loading="lazy" alt="benfactory-images" />
                                    </div>
                                </div>
                            </swiper-slide>
                        </swiper-container>
                    </div>

                    <!-- Description -->
                    <div class="mb-4 p-4 bg-light rounded-3">
                        <div class="d-flex gap-3 align-items-start">
                            <i class="uil uil-file-alt fs-3 text-primary"></i>
                            <div class="flex-grow-1">
                                <h5 class="fw-bold mb-3 text-dark">وصف المشروع</h5>
                                <p class="text-secondary mb-0 lh-lg fs-6">{{ProjectData?.description}}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Statistics Cards -->
                    <div class="row g-4 justify-content-center">
                        <!-- Card 1: Total Amount -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="details__card shadow">
                                <div class="card__body">
                                    <div class="card__icon">
                                        <i class="uil uil-wallet fs-1"></i>
                                    </div>
                                    <p class="card__title fw-bold mb-0">اجمالي المبلغ</p>
                                </div>
                                <div class="card__ribbon">
                                    <label class="card__ribbon-label">
                                        <div class="d-flex justify-content-center">
                                            <p class="m-0 fs-4 fw-bold" *ngFor="let digit of DonationAmountDigits2" [@slideUp]>{{digit}}</p>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- Card 2: Total Donations -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="details__card shadow">
                                <div class="card__body">
                                    <div class="card__icon">
                                        <i class="uil uil-moneybag fs-1"></i>
                                    </div>
                                    <p class="card__title fw-bold mb-0">اجمالى التبرع</p>
                                </div>
                                <div class="card__ribbon">
                                    <label class="card__ribbon-label">
                                        <div class="d-flex justify-content-center">
                                            <p class="m-0 fs-4 fw-bold" *ngFor="let digit of DonationAmountDigits" [@slideUp]>{{digit}}</p>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- Card 3: Remaining Amount -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="details__card shadow">
                                <div class="card__body">
                                    <div class="card__icon">
                                        <i class="uil uil-chart-pie fs-1"></i>
                                    </div>
                                    <p class="card__title fw-bold mb-0">المبلغ المتبقي</p>
                                </div>
                                <div class="card__ribbon">
                                    <label class="card__ribbon-label">
                                        <div class="d-flex justify-content-center">
                                            <p class="m-0 fs-4 fw-bold" *ngFor="let digit of DonationAmountDigits3" [@slideUp]>{{digit}}</p>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- Card 4: Donors Count -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="details__card shadow">
                                <div class="card__body">
                                    <div class="card__icon">
                                        <i class="uil uil-users-alt fs-1"></i>
                                    </div>
                                    <p class="card__title fw-bold mb-0">عدد المتبرعين</p>
                                </div>
                                <div class="card__ribbon">
                                    <label class="card__ribbon-label">
                                        <div class="d-flex justify-content-center">
                                            <p class="m-0 fs-4 fw-bold" *ngFor="let digit of DonationAmountDigits4" [@slideUp]>{{digit}}</p>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>