<div class="table-responsive shadow-sm radius-10">
    <form [formGroup]="ItemForm" autocomplete="off">
        <table class="table table-bordered table-feature-value align-middle border m-0">
            <thead>
                <tr>
                    <th colspan="2">بيانات ولي الأمر</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-feature">اسم ولي الأمر</td>
                    <td class="table-value">
                        <app-za-input-with-label [type]="'text'" [placeholder]="'اسم ولي الأمر...'" formControlName="parentName" [error]="formErrors.parentName"></app-za-input-with-label>
                    </td>
                </tr>
                <tr>
                    <td class="table-feature">رقم هاتف الأب</td>
                    <td class="table-value">
                        <app-za-input-with-label [type]="'text'" [placeholder]="'رقم هاتف الأب...'" formControlName="fatherPhone" [allowNumbersOnly]="true"></app-za-input-with-label>
                    </td>
                </tr>
                <tr>
                    <td class="table-feature">رقم هاتف الأم</td>
                    <td class="table-value">
                        <app-za-input-with-label [type]="'text'" [placeholder]="'رقم هاتف الأم...'" formControlName="motherPhone" [allowNumbersOnly]="true"></app-za-input-with-label>
                    </td>
                </tr>
                <tr>
                    <td class="table-feature">رقم الواتساب</td>
                    <td class="table-value">
                        <app-za-input-with-label [type]="'text'" [placeholder]="'رقم الواتساب...'" formControlName="whatsappNumber" [allowNumbersOnly]="true"></app-za-input-with-label>
                    </td>
                </tr>
                <tr>
                    <td class="table-feature">العنوان</td>
                    <td class="table-value">
                        <app-za-input-with-label [type]="'text'" [placeholder]="'العنوان...'" formControlName="address" [error]="formErrors.address"></app-za-input-with-label>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>