<div class="table-responsive shadow-sm radius-10">
    <form [formGroup]="ItemForm" autocomplete="off">
        <div formArrayName="discounts">
            <table class="table table-bordered table-feature-value align-middle border m-0 mb-3" *ngFor="let group of discounts.controls; let i = index" [formGroupName]="i">
                <thead>
                    <tr>
                        <th colspan="2"> الخصومات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-feature">
                            اسم الطالب
                        </td>
                        <td class="table-value">
                            <app-za-input-with-label type="text" placeholder="اسم الطالب..." formControlName="studentName"></app-za-input-with-label>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">
                            نوع الخصم
                        </td>
                        <td class="table-value">
                            <div class="form-floating">
                                <app-za-drop-down-form-control [data]="DiscountTypes" [showSearch]="true" [placeholder]="'نوع الخصم'" formControlName="discountTypeId" [disabled]="DetailsMode"></app-za-drop-down-form-control>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="group.get('discountTypeId')?.value">
                        <td class="table-feature">
                            سبب الخصم
                        </td>
                        <td class="table-value">
                            <app-za-input-with-label type="text" placeholder="سبب الخصم..." formControlName="discountReason" [error]="formErrors[i]?.discountReason"></app-za-input-with-label>
                        </td>
                    </tr>
                    <tr *ngIf="group.get('discountTypeId')?.value">
                        <td class="table-feature">
                            قيمة الخصم %
                        </td>
                        <td class="table-value">
                            <app-za-input-with-label type="text" placeholder="قيمة الخصم %..." formControlName="discountAmount" [allowNumbersOnly]="true" [error]="formErrors[i]?.discountAmount"></app-za-input-with-label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>