<app-za-breadcrumb [TitleList]="TitleList"></app-za-breadcrumb>

<div class="table-card border radius-10 overflow-hidden shadow-sm">
    <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
        <div class="col-md-8 mb-2">
            <div class="d-flex align-items-center gap-2">
                <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" (click)="openItemModal(OpenItemModal,null)">
                    <i class="fas fa-plus-circle"></i>
                    <span>إضافة</span>
                </button>
                <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter">
                    <i class="uil uil-filter"></i>
                    <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
                </button>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <app-za-pagination (pageChanged)="pageChanged($event)" [currentPage]="pagingFilterModel.currentPage" [pageSize]="pagingFilterModel.pageSize" [totalCount]="pagedResponseModel.totalCount"></app-za-pagination>
        </div>
        <div class="col-md-12 mt-3" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
            <div class="d-flex align-items-center">
                <ng-container>
                    <app-za-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)" [searchPlaceholder]="'البحث بالعنوان ...'"></app-za-filters>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="p-3 bg-white">
        <div class="table-responsive shadow-sm radius-10">
            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
                <thead>
                    <tr>
                        <th>العنوان</th>
                        <th>الوصف</th>
                        <th>اجمالي مبلغ التبرع</th>
                        <th>عدد المتبرعين</th>
                        <th>اجمالي المبلغ</th>
                        <th>باق المبلغ</th>
                        <th>الرابط</th>
                        <th>تمت الاضافة من قبل</th>
                        <th>تاريخ الاضافة</th>
                        <th class="text-center">مرئي في الموقع</th>
                        <th>عمليات</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container>
                        <tr *ngFor="let item of pagedResponseModel.results">
                            <td>{{item.title}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.totalDonationAmount}}</td>
                            <td>{{item.benefactorCount}}</td>
                            <td>{{item.totalAmount}}</td>
                            <td>{{item.remainingAmount}}</td>
                            <td>
                                <a href="{{item.projectUrl}}" target="_blank">{{item.projectUrl}}</a>
                            </td>
                            <td>{{item.createdBy}}</td>
                            <td>{{item.insertDateStr}}</td>
                            <td class="text-center">
                                <label class="jtoggler-wrapper m-0 mx-0">
                                <input type="checkbox" [(ngModel)]="item.isVisible" class="jtoggler" disabled>
                                <div class="jtoggler-control">
                                <div class="jtoggler-handle"></div>
                                </div>
                            </label>
                            </td>
                            <td>
                                <div class="w-100 d-flex align-items-center justify-content-center">
                                    <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2" (click)="openItemModal(OpenItemModal,item)">
                                        <i class="uil uil-pen"></i>
                                        <span>تعديل</span>
                                    </button>
                                    <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2" (click)="openAddImagesModal(OpenAddImagesModal,item)">
                                        <i class="uil uil-plus"></i>
                                        <span>اضافة</span>
                                    </button>
                                    <button class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2" (click)="openDeleteItemModal(deleteItemModal,item)">
                                    <i class="uil uil-trash-alt"></i>
                                    <span>حذف</span>
                                </button>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="!pagedResponseModel.results.length">
                            <td colspan="12" class="text-right">
                                <app-za-empty-data [showEmptyData]="!pagedResponseModel.results.length"></app-za-empty-data>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #OpenItemModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h2 class="d-flex align-items-center gap-2">
            <i class="uil uil-plus"></i>
            <span>املأ البيانات الأتية</span>
        </h2>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <form [formGroup]="ItemForm" autocomplete="off">
            <table class="table table-bordered table-feature-value align-middle border m-0">
                <tbody>
                    <tr>
                        <td class="table-feature">العنوان</td>
                        <td class="table-value">
                            <input type="text" class="form-control form-control-lg" formControlName="title" placeholder="العنوان...">
                            <div *ngIf="ItemForm.controls['title']?.invalid && (ItemForm.controls['title']?.dirty || ItemForm.controls['title']?.touched)" class="error-message">
                                <span *ngIf="ItemForm.controls['title'].errors?.['required']"> هذا الحقل مطلوب</span>
                                <span *ngIf="ItemForm.controls['title'].errors?.['noSpace']"> لا يمكن ان يحتوي الحقل على مسافات فقط</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">التفاصيل</td>
                        <td class="table-value">
                            <input type="text" class="form-control form-control-lg" formControlName="description" placeholder="التفاصيل...">
                            <div *ngIf="ItemForm.controls['description']?.invalid && (ItemForm.controls['description']?.dirty || ItemForm.controls['description']?.touched)" class="error-message">
                                <span *ngIf="ItemForm.controls['description'].errors?.['required']"> هذا الحقل مطلوب</span>
                                <span *ngIf="ItemForm.controls['description'].errors?.['noSpace']"> لا يمكن ان يحتوي الحقل على مسافات فقط</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">اجمالي مبلغ التبرع</td>
                        <td class="table-value">
                            <input type="text" class="form-control form-control-lg" formControlName="totalDonationAmount" placeholder="اجمالي مبلغ التبرع...">
                            <div *ngIf="ItemForm.controls['totalDonationAmount']?.invalid && (ItemForm.controls['totalDonationAmount']?.dirty || ItemForm.controls['totalDonationAmount']?.touched)" class="error-message">
                                <span *ngIf="ItemForm.controls['totalDonationAmount'].errors?.['required']"> هذا الحقل مطلوب</span>
                                <span *ngIf="ItemForm.controls['totalDonationAmount'].errors?.['noSpace']">لا يمكن ان يحتوي الحقل على مسافات فقط</span>
                                <span *ngIf="ItemForm.controls['totalDonationAmount'].errors?.['pattern']">أدخل أرقام فقط</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">عدد المتبرعين</td>
                        <td class="table-value">
                            <input type="text" class="form-control form-control-lg" formControlName="benefactorCount" placeholder="عدد المتبرعين...">
                            <div *ngIf="ItemForm.controls['benefactorCount']?.invalid && (ItemForm.controls['benefactorCount']?.dirty || ItemForm.controls['benefactorCount']?.touched)" class="error-message">
                                <span *ngIf="ItemForm.controls['benefactorCount'].errors?.['required']"> هذا الحقل مطلوب</span>
                                <span *ngIf="ItemForm.controls['benefactorCount'].errors?.['noSpace']">لا يمكن ان يحتوي الحقل على مسافات فقط</span>
                                <span *ngIf="ItemForm.controls['benefactorCount'].errors?.['pattern']">أدخل أرقام فقط</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">اجمالي المبلغ</td>
                        <td class="table-value">
                            <input type="text" class="form-control form-control-lg" formControlName="totalAmount" placeholder="اجمالي المبلغ...">
                            <div *ngIf="ItemForm.controls['totalAmount']?.invalid && (ItemForm.controls['totalAmount']?.dirty || ItemForm.controls['totalAmount']?.touched)" class="error-message">
                                <span *ngIf="ItemForm.controls['totalAmount'].errors?.['required']"> هذا الحقل مطلوب</span>
                                <span *ngIf="ItemForm.controls['totalAmount'].errors?.['noSpace']">لا يمكن ان يحتوي الحقل على مسافات فقط</span>
                                <span *ngIf="ItemForm.controls['totalAmount'].errors?.['pattern']">أدخل أرقام فقط</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">باق المبلغ</td>
                        <td class="table-value">
                            <input type="text" class="form-control form-control-lg" formControlName="remainingAmount" placeholder="باق المبلغ...">
                            <div *ngIf="ItemForm.controls['remainingAmount']?.invalid && (ItemForm.controls['remainingAmount']?.dirty || ItemForm.controls['remainingAmount']?.touched)" class="error-message">
                                <span *ngIf="ItemForm.controls['remainingAmount'].errors?.['required']"> هذا الحقل مطلوب</span>
                                <span *ngIf="ItemForm.controls['remainingAmount'].errors?.['noSpace']">لا يمكن ان يحتوي الحقل على مسافات فقط</span>
                                <span *ngIf="ItemForm.controls['remainingAmount'].errors?.['pattern']">أدخل أرقام فقط</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">الحالة</td>
                        <td class="table-value">
                            <div class="d-flex align-items-center">
                                <div class="me-2">مرئي</div>
                                <label class="jtoggler-wrapper m-0 mx-0">
                                <input type="checkbox" formControlName="isVisible" class="jtoggler">
                                <div class="jtoggler-control">
                                    <div class="jtoggler-handle"></div>
                                </div>
                            </label>
                                <div class="ms-2">غير مرئي</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer flex-nowrap gap-2">
        <button type="button" class="btn btn-success d-flex align-items-center justify-content-center gap-2 w-100" (click)="AddNewProject()">
            <i class="uil uil-save fs-3"></i>
            <span>حفظ</span>
        </button>
        <button type="button" class="btn btn-danger d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle fs-3"></i>
            <span>الغاء</span>
        </button>
    </div>
</ng-template>

<ng-template #OpenAddImagesModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h2 class="d-flex align-items-center gap-2">
            <i class="uil uil-plus"></i>
            <span>اضافة صور</span>
        </h2>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-feature-value align-middle border m-0">
            <tbody>
                <tr>
                    <td class="table-feature">تحميل صورة</td>
                    <td class="table-value">
                        <div class="choose-file-box position-relative border rounded h-58" (click)="InputMultiFile.click()">
                            <div class="choose-file-btn">تحميل صورة</div>
                        </div>
                        <div class="error-message" *ngIf="isFileExist">
                            <span>هذا الحقل مطلوب</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="table-feature"></td>
                    <td>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-2">
                            <div class="w-25" *ngFor="let url of multiFileURL;let i = index">
                                <div class="choosed-img img-thumbnail shadow-sm">
                                    <img src="{{url.image}}" loading="lazy" alt="" />
                                    <div class="choosed-img-delete" (click)="DeleteMultiImageFiles(i,url)">
                                        <i class="far fa-times-circle"></i>
                                    </div>
                                </div>
                                <input *ngIf="url?.id" type="number" class="form-control text-center" [(ngModel)]="url.displayOrder">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer flex-nowrap gap-2">
        <button type="button" class="btn btn-success d-flex align-items-center justify-content-center gap-2 w-100" (click)="AddMultiImagesFile()">
            <i class="uil uil-save fs-3"></i>
            <span>حفظ</span>
        </button>
        <button type="button" class="btn btn-danger d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle fs-3"></i>
            <span>الغاء</span>
        </button>
    </div>
</ng-template>

<ng-template #deleteItemModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h2 class="d-flex align-items-center gap-2">
            <span>تأكيد الإجراء</span>
        </h2>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل أنت متأكد أنك تريد إزالة هذا العنصر؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="DeleteItem()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">لا</span>
        </button>
    </div>
</ng-template>

<input type="file" #InputMultiFile multiple class="choose-file-input" (change)="onMultiFileChange($event)" hidden />