<div class="app-shell">

    <!-- dark rail navigation -->
    <!-- <div class="rail">
        <div class="rail-avatar">
            <img src="https://i.pravatar.cc/80?img=13" alt="user">
        </div>
        <div class="rail-icon" title="الرئيسية"><i class="fa-solid fa-house"></i></div>
        <div class="rail-icon" title="الإشعارات"><i class="fa-regular fa-bell"></i><span class="badge-dot">5</span></div>
        <div class="rail-icon" title="جهات الاتصال"><i class="fa-solid fa-address-book"></i></div>
        <div class="rail-icon" title="الصور"><i class="fa-regular fa-image"></i></div>
        <div class="rail-icon active" title="واتساب"><i class="fa-brands fa-whatsapp"></i></div>
        <div class="rail-icon" title="المستخدمين"><i class="fa-solid fa-user-group"></i></div>
        <div class="rail-icon" title="التقويم"><i class="fa-regular fa-calendar"></i></div>
        <div class="rail-icon" title="التحرير"><i class="fa-solid fa-pen-nib"></i></div>
        <div class="rail-icon" title="التقارير"><i class="fa-solid fa-chart-column"></i></div>
        <div class="rail-icon" title="السجلات"><i class="fa-solid fa-clock-rotate-left"></i></div>
        <div class="rail-spacer"></div>
    </div> -->

    <div class="stage">
        <div class="builder-modal">

            <!-- header -->
            <div class="builder-header">
                <div class="title-wrap">
                    <div class="wa-badge"><i class="fa-brands fa-whatsapp"></i></div>
                    <h5>إنشاء قالب واتساب جديد</h5>
                </div>
                <button class="close-btn" (click)="CloseModal()"><i class="fa-solid fa-xmark"></i></button>
            </div>

            <!-- body -->
            <div class="builder-body">
                <!-- variables column -->
                <div class="vars-col">
                    <div class="vars-heading">المتغيرات المتاحة</div>
                    <div class="var-group" *ngFor="let group of groupedVariables">
                        <div class="var-group-title" [style.background]="group.backColor" [style.color]="group.color">
                            <span [style.color]="group.color"><i [class]="group.icon"></i></span> {{group.categoryName}}
                        </div>
                        <div class="var-row" *ngFor="let item of group.variables" (click)="insertVariable(item)">
                            <span class="var-name">{{item.displayName}}</span>
                            <span class="add-ic"><i class="fa-solid fa-plus"></i></span>
                        </div>
                    </div>
                </div>
                <!-- editor column -->
                <div class="editor-col">
                    <form [formGroup]="ItemForm" autocomplete="off">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <app-za-input-with-label [type]="'text'" [placeholder]="'اسم القالب...'" formControlName="name" [error]="formErrors.name"></app-za-input-with-label>
                                <!-- <label class="field-label">اسم القالب <span class="req">*</span></label>
                            <input type="text" class="form-control" placeholder="اسم القالب"> -->
                            </div>
                        </div>
                    </form>

                    <div class="rich-editor">
                        <div class="rich-toolbar">
                            <!-- <div class="tb-sep"></div>
                            <button class="tb-btn"><b>U</b></button>
                            <button class="tb-btn"><i class="fa-solid fa-italic"></i></button>
                            <button class="tb-btn"><b>B</b></button>
                            <div class="tb-sep"></div>
                            <button class="tb-btn"><i class="fa-solid fa-list-ul"></i></button> -->
                            <div class="tb-sep"></div>
                            <button class="tb-btn"><i class="fa-regular fa-face-smile"></i></button>
                        </div>

                        <div #Editor class="rich-content" contenteditable="true" spellcheck="false" (click)="EditorClick($event)" (keyup)="SaveSelection()" (mouseup)="SaveSelection()" (focus)="SaveSelection()" (keydown)="OnEditorKeyDown($event)" (input)="UpdateStatistics()">
                        </div>

                        <div class="editor-footer">
                            <span>عدد الحروف: {{charactersCount}}</span>
                            <span>عدد المتغيرات: {{variablesCount}}</span>
                        </div>
                    </div>
                    <div class="preview-heading">
                        <button class="toggle-data-btn" (click)="PreviewHtml()">
                            <i class="fa-regular fa-eye"></i>
                            معاينة الرسالة
                        </button>
                    </div>
                    <div class="wa-preview">
                        <div class="wa-bubble" *ngIf="PreviewTemp">
                            <div class="wa-message" [innerHTML]="previewHtml"></div>
                            <div class="wa-time">{{previewTime}}<i class="fa-solid fa-check-double" style="color:#53bdeb;"></i></div>
                        </div>
                    </div>
                    <div class="modal-actions">
                        <button class="btn-save" (click)="SaveTemplate()"><i class="fa-regular fa-floppy-disk"></i> حفظ
                            القالب</button>
                        <button class="btn-cancel" (click)="CloseModal()"><i class="fa-solid fa-xmark"></i>
                            إلغاء</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-loading [show]="showLoader"></ngx-loading>