<app-za-breadcrumb [TitleList]="TitleList"></app-za-breadcrumb>

<div class="table-card border radius-10 overflow-hidden shadow-sm">
    <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
        <div class="col-md-8 mb-2">
            <div class="d-flex align-items-center gap-2">
                <button class="btn btn-primary d-flex align-items-center gap-2 border rounded px-3" routerLink="/general-accounts/new-entry">
                    <i class="fas fa-plus-circle"></i>
                    <span>إضافة صورة</span>
                </button>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3" id="dropdownBasic1" ngbDropdownToggle>
                        <i class="uil uil-export"></i>
                        <span>تنزيل</span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="border rounded">
                        <button ngbDropdownItem class="d-flex align-items-center gap-2">
                            <i class="fas fa-file-download"></i>
                            <span class="px-2">PDF</span>
                        </button>
                        <button ngbDropdownItem>
                            <i class="fas fa-file-download"></i>
                            <span class="px-2">Excel</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <app-za-pagination (pageChanged)="pageChanged($event)" [currentPage]="pagingFilterModel.currentPage" [pageSize]="pagingFilterModel.pageSize" [totalCount]="100"></app-za-pagination>
        </div>
        <div class="col-md-12 mt-3">
            <div class="d-flex align-items-center">
                <ng-container>
                    <app-za-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)" [searchPlaceholder]="'البحث برقم القيد ...'"></app-za-filters>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="p-3 bg-white">
        <div class="table-responsive shadow-sm radius-10">
            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
                <thead>
                    <tr>
                        <th>رقم القيد</th>
                        <th>نوع القيد</th>
                        <th>حالة القيد</th>
                        <th>نوع العملية</th>
                        <th>الشهر</th>
                        <th>التاريخ</th>
                        <th>مدين كلي</th>
                        <th>دائن كلي</th>
                        <th>ملاحظات</th>
                        <th>ِعمليات</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container>
                        <tr>
                            <td><input type="checkbox" class="big-checkbox">
                            </td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>
                                <div class="w-100 d-flex align-items-center justify-content-center">
                                    <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2" (click)="openSidePanel(9)">
                                        <i class="uil uil-pen"></i>
                                        <span>معاينة</span>
                                    </button>
                                    <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2">
                                        <i class="uil uil-pen"></i>
                                        <span>تعديل</span>
                                    </button>
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2" (click)="openItemModal(ItemModal,null)">
                                    <i class="uil uil-pen"></i>
                                    <span>تعديل</span>
                                </button>
                                    <button class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2" (click)="openDeleteItemModal(deleteItemModal,null)">
                                    <i class="uil uil-trash-alt"></i>
                                    <span>حذف</span>
                                </button>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="!pagedResponseModel.results.length">
                            <td colspan="12" class="text-right">
                                <app-za-empty-data [showEmptyData]="!pagedResponseModel.results.length"></app-za-empty-data>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #DetailsSidePanel let-offcanvas>
    <div class="offcanvas-header justify-content-between gap-3 fs-4 border-bottom py-3">
        <div class="d-flex align-items-center gap-2">
            <i class="fas fa-info-circle offcanvas-header-icon"></i>
            <span>
                تفاصيل القيد رقم
            </span>
        </div>
        <div class="cursor-pointer text-danger fs-2" (click)="offcanvas.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="offcanvas-body pt-4 bg-light">
        <div class="employee-card-body mb-3">
            <div class="inputs-wrapper border rounded bg-white mb-3">
                <div class="inputs-sec-content px-3 py-3">
                    <div class="row gy-3">
                        <div class="col-lg-6">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">رقم القيد</label>
                                <input type="text" disabled class="form-control nw-form-input" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">تاريخ القيد</label>
                                <input type="text" disabled class="form-control nw-form-input" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">
                                    البيان
                                </label>
                                <input type="text" disabled class="form-control nw-form-input description-area" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-start m-3">
                    <button (click)="offcanvas.dismiss()" routerLink="/general-accounts/new-entry" class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2">
                        <i class="uil uil-pen"></i>
                        <span>تعديل</span>
                    </button>
                    <button class="btn btn-table-action  gap-2 border rounded px-3 me-2">
                        <i class="fas fa-print fs-7"></i>
                        <span>طباعة</span>
                    </button>
                </div>
            </div>
        </div>
        <hr class="border-black" />
        <div class="inputs-wrapper border rounded bg-white mb-3">
            <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom mb-2">الحسابات</div>
            <div class="inputs-sec-content px-3 py-2 table-responsive table-vp-height small-scroll">
                <table class="table table-bordered table-middle text-center table-actions m-0">
                    <thead>
                        <tr>
                            <th>الحساب</th>
                            <th>مدين</th>
                            <th>دائن</th>
                            <th>مركز التكلفة</th>
                            <th style="width: 290px;">ملاحظات</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row-hover">
                        </tr>
                        <!-- <tr *ngIf="!selectedEntryModel?.journalEntryAccounts?.length">
                            <td colspan="5" class="text-right">
                                <app-za-empty-data [showEmptyData]="!selectedEntryModel?.journalEntryAccounts?.length"></app-za-empty-data>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #ItemModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h2 class="d-flex align-items-center gap-2">
            <i class="uil uil-plus"></i>
            <span>املأ البيانات الأتية</span>
        </h2>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <form autocomplete="off">
            <table class="table table-bordered table-feature-value align-middle border m-0">
                <tbody>
                    <tr>
                        <td class="table-feature">اسم (AR)</td>
                        <td class="table-value">
                            <input type="text" class="form-control form-control-lg" placeholder="اسم (AR)...">
                            <!-- <div *ngIf="formErrors.nameAR" class="text-danger  font-small-3 m-03">
                                {{formErrors.nameAR}}
                            </div> -->
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">اسم بالانكليزي</td>
                        <td class="table-value">
                            <input type="text" class="form-control form-control-lg" placeholder="اسم بالانكليزي...">
                            <!-- <div *ngIf="formErrors.nameEN" class="text-danger  font-small-3 m-03">
                                {{formErrors.nameEN}}
                            </div> -->
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">رقم الهاتف</td>
                        <td class="table-value">
                            <input type="number" class="form-control form-control-lg text-align-right" placeholder="...رقم الهاتف" dir="rtl">
                            <!-- <div *ngIf="formErrors.phone" class="text-danger  font-small-3 m-03">
                                {{formErrors.phone}}
                            </div> -->
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">رقم الأرضي</td>
                        <td class="table-value">
                            <input type="number" class="form-control form-control-lg text-align-right" placeholder="...رقم الأرضي" dir="rtl">
                            <!-- <div *ngIf="formErrors.mobile" class="text-danger  font-small-3 m-03">
                                {{formErrors.mobile}}
                            </div> -->
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">الدولة</td>
                        <td class="table-value">
                            <div class="form-floating">
                                <app-za-drop-down-form-control [showSearch]="true" [placeholder]="'الدولة'"></app-za-drop-down-form-control>
                            </div>
                            <!-- <div *ngIf="formErrors.countryId" class="text-danger  font-small-3 m-03">
                                {{formErrors.countryId}}
                            </div> -->
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">المدينة</td>
                        <td class="table-value">
                            <div class="form-floating">
                                <app-za-drop-down-form-control [showSearch]="true" [placeholder]="'المدينة'"></app-za-drop-down-form-control>
                            </div>
                            <!-- <div *ngIf="formErrors.cityId" class="text-danger  font-small-3 m-03">
                                {{formErrors.cityId}}
                            </div> -->
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">الفرع</td>
                        <td class="table-value">
                            <div class="form-floating">
                                <app-za-drop-down-form-control [showSearch]="true" [placeholder]="'الفرع'"></app-za-drop-down-form-control>
                            </div>
                            <!-- <div *ngIf="formErrors.regionId" class="text-danger  font-small-3 m-03">
                                {{formErrors.regionId}}
                            </div> -->
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">العنوان</td>
                        <td class="table-value">
                            <input type="text" class="form-control form-control-lg" placeholder="العنوان...">
                            <!-- <div *ngIf="formErrors.address" class="text-danger  font-small-3 m-03">
                                {{formErrors.address}}
                            </div> -->
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">ملاحطات</td>
                        <td class="table-value">
                            <input type="text" class="form-control form-control-lg" placeholder="ملاحطات...">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer flex-nowrap gap-2">
        <button type="button" class="btn btn-success d-flex align-items-center justify-content-center gap-2 w-100">
            <i class="uil uil-save fs-3"></i>
            <span>حفظ</span>
        </button>
        <button type="button" class="btn btn-danger d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle fs-3"></i>
            <span>الغاء</span>
        </button>
    </div>
</ng-template>


<ng-template #deleteItemModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h2 class="d-flex align-items-center gap-2">
            <span>تأكيد الإجراء</span>
        </h2>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل أنت متأكد أنك تريد إزالة هذا العنصر؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">لا</span>
        </button>
    </div>
</ng-template>

<!-- <app-za-loader [show]="true"></app-za-loader> -->

<!-- <button class="btn btn-primary" [disabled]="loading">
  <app-za-loader [show]="true" [inline]="true"></app-za-loader>
  <span *ngIf="!loading">حفظ</span>
  <span *ngIf="loading">جارٍ الحفظ...</span>
</button> -->