<app-za-breadcrumb [TitleList]="TitleList"></app-za-breadcrumb>

<div class="section-content mb-3">
    <div class="row">
        <div class="col">
            <div class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100 hovered">
                <div class="column-card-icon">
                    <i class="uil uil-usd-circle"></i>
                </div>
                <div class="column-card-title">إجمالي الايرادات</div>
                <div class="column-card-description text-muted fs-4">
                    {{TotalImportValue | number }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100 hovered">
                <div class="column-card-icon">
                    <i class="uil uil-transaction"></i>
                </div>
                <div class="column-card-title">عدد العمليات</div>
                <div class="column-card-description text-muted fs-4">
                    {{TotalCount | number}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100 hovered">
                <div class="column-card-icon">
                    <i class="uil uil-wallet"></i>
                </div>
                <div class="column-card-title">إجمالي الايرادات للشهر الحالي</div>
                <div class="column-card-description text-muted fs-4">
                    {{ImportValueMonth | number}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-card border radius-10 overflow-hidden shadow-sm">
    <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
        <div class="col-md-8 mb-2">
            <div class="d-flex align-items-center gap-2">
                <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" appRole pageKey="ZAInstitution_AccountImportMoney" action="canAdd" (click)="openItemModal(OpenItemModal,null)">
                    <i class="fas fa-plus-circle"></i>
                    <span>إضافة</span>
                </button>
                <div ngbDropdown class="d-inline-block" appRole pageKey="ZAInstitution_AccountImportMoney" action="canExport">
                    <button type="button" class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" id="dropdownBasic1" ngbDropdownToggle>
                        <i class="uil uil-export"></i>
                        <span>تنزيل</span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="border rounded">
                        <button ngbDropdownItem (click)="DownloadExcelFile()">
                            <i class="fas fa-file-download"></i>
                            <span class="px-2">Excel</span>
                        </button>
                    </div>
                </div>
                <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter">
                    <i class="uil uil-filter"></i>
                    <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
                </button>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <app-za-pagination (pageChanged)="PageChange($event)" [currentPage]="PagingFilter.currentPage" [pageSize]="PagingFilter.pageSize" [totalCount]="TotalCount"></app-za-pagination>
        </div>
        <div class="col-md-12 mt-3" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
            <div class="d-flex align-items-center">
                <ng-container>
                    <app-za-filters [FilterList]="filterList" (filterChanged)="FilterChecked($event)"></app-za-filters>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="p-3 bg-white">
        <div class="table-responsive shadow-sm radius-10">
            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
                <thead>
                    <tr>
                        <th>اسم المتبرع</th>
                        <th>نوع التبرع</th>
                        <th>طريقة التبرع</th>
                        <th>المبلغ</th>
                        <th>التفاصيل</th>
                        <th>تمت الاضافة من قبل</th>
                        <th>تاريخ الاضافة</th>
                        <th>عمليات</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container>
                        <tr *ngFor="let item of AccountMoneyList">
                            <td>{{item.fullName}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.donationMethod}}</td>
                            <td>{{item.totalValue}}</td>
                            <td>{{item.details}}</td>
                            <td>{{item.createdBy}}</td>
                            <td>{{item.insertDateStr}}</td>
                            <td>
                                <div class="w-100 d-flex align-items-center justify-content-center">
                                    <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2" appRole pageKey="ZAInstitution_AccountImportMoney" action="canEdit" (click)="openItemModal(OpenItemModal,item)">
                                        <i class="uil uil-pen"></i>
                                        <span>تعديل</span>
                                    </button>
                                    <button class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2" appRole pageKey="ZAInstitution_AccountImportMoney" action="canDelete" (click)="openDeleteItemModal(deleteItemModal,item)">
                                        <i class="uil uil-trash-alt"></i>
                                        <span>حذف</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="!AccountMoneyList.length">
                            <td colspan="12" class="text-right">
                                <app-za-empty-data [showEmptyData]="!AccountMoneyList.length"></app-za-empty-data>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #OpenItemModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h2 class="d-flex align-items-center gap-2">
            <i class="uil uil-plus"></i>
            <span>املأ البيانات الأتية</span>
        </h2>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <form [formGroup]="ItemForm" autocomplete="off">
            <table class="table table-bordered table-feature-value align-middle border m-0">
                <tbody>
                    <tr>
                        <td class="table-feature">المبلغ</td>
                        <td class="table-value">
                            <app-za-input-with-label [type]="'text'" [placeholder]="'المبلغ...'" [error]="formErrors.totalValue" formControlName="totalValue" [allowNumbersOnly]="true" [allowPaste]="false"></app-za-input-with-label>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">التفاصيل</td>
                        <td class="table-value">
                            <app-za-input-with-label [type]="'text'" [placeholder]="'التفاصيل...'" [error]="formErrors.details" formControlName="details"></app-za-input-with-label>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">طريقة التبرع</td>
                        <td class="table-value">
                            <app-za-input-with-label [type]="'text'" [placeholder]="'طريقة التبرع...'" [error]="formErrors.donationMethod" formControlName="donationMethod"></app-za-input-with-label>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">تاريخ الاضافة</td>
                        <td class="table-value">
                            <app-za-input-with-label [type]="'date'" [placeholder]="'تاريخ الاضافة...'" [error]="formErrors.insertDate" formControlName="insertDate"></app-za-input-with-label>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">المتبرع</td>
                        <td class="table-value">
                            <div class="form-floating">
                                <app-za-drop-down-form-control [data]="BeneFactors" [showSearch]="true" [placeholder]="'متبرع'" formControlName="beneFactorId" [hasError]="formErrors.beneFactorId"></app-za-drop-down-form-control>
                            </div>
                            <div class="error-message" *ngIf="formErrors.beneFactorId">
                                {{ formErrors.beneFactorId }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">نوع التبرع</td>
                        <td class="table-value">
                            <div class="form-floating">
                                <app-za-drop-down-form-control [data]="BeneFactorTypes" [showSearch]="true" [placeholder]="'نوع التبرع'" formControlName="beneFactorTypeId" [hasError]="formErrors.beneFactorTypeId"></app-za-drop-down-form-control>
                            </div>
                            <div class="error-message" *ngIf="formErrors.beneFactorTypeId">
                                {{ formErrors.beneFactorTypeId }}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer flex-nowrap gap-2">
        <button type="button" class="btn btn-success d-flex align-items-center justify-content-center gap-2 w-100" (click)="AddNewItem()">
            <i class="uil uil-save fs-3"></i>
            <span>حفظ</span>
        </button>
        <button type="button" class="btn btn-danger d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle fs-3"></i>
            <span>الغاء</span>
        </button>
    </div>
</ng-template>

<ng-template #deleteItemModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h2 class="d-flex align-items-center gap-2">
            <span>تأكيد الإجراء</span>
        </h2>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل أنت متأكد أنك تريد إزالة هذا العنصر؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="DeleteItem()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">لا</span>
        </button>
    </div>
</ng-template>

<ngx-loading [show]="showLoader"></ngx-loading>