<div class="d-flex flex-column gap-5">
    <section class="general-accounts-section d-flex flex-column gap-4">
        <div class="section-content d-flex">
            <div class="col-md-4 p-2" *ngFor="let data of statisticsCardList">
                <app-overview-card [data]="data"></app-overview-card>
            </div>
        </div>
    </section>
    <section *ngIf="selectedTabName && menuItem" class="general-accounts-section d-flex flex-column gap-4">
        <header class="section-header d-flex flex-column gap-2">
            <h2 class="section-title m-0">{{menuItem.displayName}}</h2>
            <span class="text-muted">{{today | arabicDayDate}}</span>
        </header>
        <div *ngIf="menuItem?.subMenus?.length >0 " class="section-content">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-6 g-4">
                <div *ngFor="let item of menuItem?.subMenus" class="col">
                    <div [routerLink]="item.route" routerLinkActive="active" class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100  cursor-pointer hovered">
                        <div class="column-card-icon">
                            <i [class]="item.icon"></i>
                        </div>
                        <div class="column-card-title">{{item.displayName}}</div>
                        <div class="column-card-description text-muted">
                            {{item.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>