<footer id="main-footer">
  <div class="container">
    <div class="row gy-3">
      <div class="col-lg-6 d-flex flex-column align-items-md-start align-items-center gap-2">
        <h2 class="m-0">للتواصل معنا</h2>
        <a target="_blank" style="color: white;text-decoration: auto;"
          href="https://www.google.com/maps/place/%D9%85%D8%A4%D8%B3%D8%B3%D8%A9+%D8%B2%D8%A7%D8%A6%D8%B1+%D8%A7%D9%84%D8%AE%D9%8A%D8%B1%E2%80%AD/@31.0860322,29.7306855,19z/data=!4m9!1m2!2m1!1zINin2YTYp9iz2YPZhtiv2LHZitipLSDYp9mE2LnYrNmF2YotINmDIDIxLSDYo9mD2KrZiNio2LEt2LTYp9i32KYg2KfZhNmG2K7ZitmEINi0MTIvMzM!3m5!1s0x14f593ed414f6ad9:0x8193789885278fb5!8m2!3d31.0861576!4d29.7303323!16s%2Fg%2F11tn_dvnqj?authuser=0&entry=ttu">
          <p class="d-flex align-items-center m-0 cursor-pointer">
            <i class="fas fa-map-pin"></i>
            <span class="ms-2">الاسكندرية- العجمي- ك 21- أكتوبر-شاطئ النخيل ش12/33</span>
          </p>
        </a>
      </div>
      <div class="col-lg-6 d-flex flex-column align-items-md-end align-items-center gap-3">
        <div class="d-flex align-items-center cursor-pointer gap-1 fs-5">
          <i class="fas fa-mobile-alt"></i>
          <span class="ms-2">
            <a href="tel:01116044223" style="text-decoration: auto;color: white;">01116044223</a>
          </span>
          <span>
            <a href="tel:01141533223" style="text-decoration: auto;color: white;">,01141533223</a>
          </span>
        </div>
        <ul class="navbar-socials">
          <li class="nav-item">
            <a class="nav-link" placement="top" ngbTooltip="Facebook" target="_blank"
              href="https://www.facebook.com/profile.php?id=100084803561189&mibextid=ZbWKwL"><i
                class="fab fa-facebook-square"></i></a>
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link" placement="top" ngbTooltip="Twitter"><i class="fab fa-twitter-square"></i></a>
            </li> -->
          <!-- <li class="nav-item">
              <a class="nav-link" placement="top" ngbTooltip="Instagram"><i class="fab fa-instagram-square"></i></a>
            </li> -->
          <!-- <li class="nav-item">
              <a class="nav-link" placement="top" ngbTooltip="Youtube"><i class="fab fa-youtube"></i></a>
            </li> -->
          <!-- <li class="nav-item">
              <a class="nav-link" placement="top" ngbTooltip="Tiktok"><i class="fab fa-tiktok"></i></a>
            </li> -->
          <li class="nav-item">
            <a class="nav-link" placement="top" ngbTooltip="WhatsApp" target="_blank"
              href="https://wa.me/+201141533223"><i class="fab fa-whatsapp"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>