<div class="table-responsive shadow-sm radius-10">
    <table class="table table-bordered table-feature-value align-middle border m-0">
        <thead>
            <tr>
                <th colspan="2">بيانات دخل الاسرة</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-feature">عمل الأب (الزوج)</td>
                <td class="table-value">
                    <app-za-input-with-label [type]="'text'" [placeholder]="'عمل الأب (الزوج)...'" [(ngModel)]="FamilyIncome.fatherJop" [allowNumbersOnly]="true" (inputChanged)="onInputChange($event, 'fatherJop')"></app-za-input-with-label>
                </td>
            </tr>
            <tr>
                <td class="table-feature">عمل الأم (الزوجة)</td>
                <td class="table-value">
                    <app-za-input-with-label [type]="'text'" [placeholder]="'عمل الأم (الزوجة)...'" [(ngModel)]="FamilyIncome.motherJop" [allowNumbersOnly]="true" (inputChanged)="onInputChange($event, 'motherJop')"></app-za-input-with-label>
                </td>
            </tr>
            <tr>
                <td class="table-feature">عمل الأبناء</td>
                <td class="table-value">
                    <app-za-input-with-label [type]="'text'" [placeholder]="'عمل الأبناء...'" [(ngModel)]="FamilyIncome.childernsJop" [allowNumbersOnly]="true" (inputChanged)="onInputChange($event, 'childernsJop')"></app-za-input-with-label>
                </td>
            </tr>
            <tr>
                <td class="table-feature">معاش شئون \ تضامن اجتماعي</td>
                <td class="table-value">
                    <app-za-input-with-label [type]="'text'" [placeholder]="'معاش شئون / تضامن اجتماعي...'" [(ngModel)]="FamilyIncome.affairSpension_SocialSolidarity" [allowNumbersOnly]="true" (inputChanged)="onInputChange($event, 'affairSpension_SocialSolidarity')"></app-za-input-with-label>
                </td>
            </tr>
            <tr>
                <td class="table-feature">مشروع</td>
                <td class="table-value">
                    <app-za-input-with-label [type]="'text'" [placeholder]="'مشروع...'" [(ngModel)]="FamilyIncome.project" [allowNumbersOnly]="true" (inputChanged)="onInputChange($event, 'project')"></app-za-input-with-label>
                </td>
            </tr>
            <tr>
                <td class="table-feature">مواشي \ أراضي</td>
                <td class="table-value">
                    <app-za-input-with-label [type]="'text'" [placeholder]="'مواشي / أراضي...'" [(ngModel)]="FamilyIncome.liveStock_Lands" [allowNumbersOnly]="true" (inputChanged)="onInputChange($event, 'liveStock_Lands')"></app-za-input-with-label>
                </td>
            </tr>
            <tr>
                <td class="table-feature">جمعية خيرية \ جمعية شرعية \ لجنة زكاة</td>
                <td class="table-value">
                    <app-za-input-with-label [type]="'text'" [placeholder]="'جمعية خيرية / جمعية شرعية / لجنة زكاة...'" [(ngModel)]="FamilyIncome.organization_ZakatCommittee" [allowNumbersOnly]="true" (inputChanged)="onInputChange($event, 'organization_ZakatCommittee')"></app-za-input-with-label>
                </td>
            </tr>
            <tr>
                <td class="table-feature">معاش تأمينات</td>
                <td class="table-value">
                    <app-za-input-with-label [type]="'text'" [placeholder]="'معاش تأمينات...'" [(ngModel)]="FamilyIncome.insurancePension" [allowNumbersOnly]="true" (inputChanged)="onInputChange($event, 'insurancePension')"></app-za-input-with-label>
                </td>
            </tr>
            <tr>
                <td class="table-feature">أخرى</td>
                <td class="table-value">
                    <app-za-input-with-label [type]="'text'" [placeholder]="'أخرى...'" [(ngModel)]="FamilyIncome.other" [allowNumbersOnly]="true" (inputChanged)="onInputChange($event, 'other')"></app-za-input-with-label>
                </td>
            </tr>
            <tr>
                <td class="table-feature">إجمالي دخل الاسرة</td>
                <td class="table-value">
                    <app-za-input-with-label [type]="'text'" [placeholder]="'إجمالي دخل الاسرة...'" [(ngModel)]="FamilyIncome.totalFamilyIncome" [disabled]="true"></app-za-input-with-label>
                </td>
            </tr>
            <tr>
                <td class="table-feature">ملاحظات</td>
                <td class="table-value">
                    <textarea class="form-control" rows="3" [disabled]="DetailsMode" [(ngModel)]="FamilyIncome.comments"></textarea>
                </td>
            </tr>
        </tbody>
    </table>
</div>