<h3 class="text-center main-color mb-5 display-5">عن زائر الخير</h3>
<div style="align-items: center;justify-content: flex-start;display: flex;">
    <span style="font-size: 50px;margin-left: 10px;">▪</span>
    <span style="font-size: 30px;">من نحن؟</span>
</div>
<p class="gray-bgcolor rounded shadow-sm p-2 fs-5 lh-lg mb-4">
    منظمة مجتمع مدني مصرية تأسست عام <span class="fw-bold">2021</span>، غير هادفة للربح، معفاة من الضرائب، مسجلة لدى وزارة التضامن الاجتماعي تحت رقم <span class="fw-bold">4242</span>، بهدف خدمة الفئات الأكثر احتياجا بشكل مؤسسي راق، دون تمييز ديني أو سياسي،
    وتأكيدا على دور العمل الأهلي في التنمية الاقتصادية والاجتماعية للمجتمع. تعتمد الجمعية على التبرعات العينية والنقدية من المصريين داخل مصر .

    <div style="align-items: center;justify-content: flex-start;display: flex;">
        <span style="font-size: 50px;margin-left: 10px;">▪</span>
        <span style="font-size: 30px;">رسالة المؤسسة</span>
    </div>

    <p class="gray-bgcolor rounded shadow-sm p-4 fs-5 lh-lg mb-4">
        تقديم خدمات خيرية غير تقليدية تهدف إلى نقل المحتاجين من دائرة العوز إلى دائرة الإنتاج والإشباع في إطار زمني محدد.
    </p>

    <div style="align-items: center;justify-content: flex-start;display: flex;">
        <span style="font-size: 50px;margin-left: 10px;">▪</span>
        <span style="font-size: 30px;">رؤية المؤسسة</span>
    </div>

    <p class="gray-bgcolor rounded shadow-sm p-4 fs-5 lh-lg mb-4">
        التحول بمفهوم العمل الخيري التطوعي من مجرد دور مثالي يرضي العطاء الغريزي لدى القلة إلى نشاط مؤسسي تنموي منظم باحترافية عالية يعتمد على ثقة المتبرعين وجدية المستفيدين وخبرة وكفاءة القائمين عليه.

    </p>

    <div style="align-items: center;justify-content: flex-start;display: flex;">
        <span style="font-size: 50px;margin-left: 10px;">▪</span>
        <span style="font-size: 30px;">ليه اخترنا اسم زائر الخير؟</span>
    </div>

    <p class="gray-bgcolor rounded shadow-sm p-4 fs-5 lh-lg mb-4">
        <span class="main-color fw-bold"> “زائر الخير” </span>لما بيدخل بيوت المحتاجين بيبقى خير ليهم ولينا وليك.. </p>

    <div style="align-items: center;justify-content: flex-start;display: flex;">
        <span style="font-size: 50px;margin-left: 10px;">▪</span>
        <span style="font-size: 30px;">عنوان المؤسسة</span>
    </div>

    <p class="gray-bgcolor rounded shadow-sm p-4 fs-5 lh-lg mb-4">
        شارع 12/33 شاطئ النخيل – الإسكندرية </p>

    <div style="align-items: center;justify-content: flex-start;display: flex;">
        <span style="font-size: 50px;margin-left: 10px;">▪</span>
        <span style="font-size: 30px;">انشطة المؤسسة</span>
    </div>

    <p class="gray-bgcolor rounded shadow-sm p-4 fs-5 lh-lg mb-4">
        <span>1-توزيع زكاة المال على مستحقيها من الفقراء والمساكين الأكثر احتياجا</span><br>
        <span>2-كفالة اليتيم</span><br>
        <span>3-كفالات شهرية للأسر الأكثر احتياجا من الفقراء والمرضى</span><br>
        <span>4-دعم دور تحفيظ القرآن</span><br>
        <span>5-توفير الاحتياجات الأساسية لبيوت الأسر المحتاجة من (مراتب، سراير، غسالات، بوتجازات، إلخ..)</span><br>
        <span>6-إطعام الطعام عن طريق عمل وجبات للمسنين والمرضى، توزيع شنط غذائية (أكل جاف) بالإضافة لشنط رمضان</span><br>
        <span>7-توفير الكشف الطبي والعلاج أو العمليات للحالات الطبية الفقيرة المستحقة</span><br>
        <span>8-والتعليم ليه معانا الاهتمام الأكبر.</span>
    </p>